<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Turtl_help</title>
  <meta name="description" content="not so awkward Turtl">

  <link rel="stylesheet" href="Stylesheets/stylesheet.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="LOGO">
    <p>Turtl</p>
  </div>

  <div id="MESSAGING">
    
      <div><p>SEND A MESSAGE</p></div>

      <div>
        
        <div></div>
        <div></div>

      </div>

  </div>

  <div id="HUMOUR">
    
    <div><p>ADD SOME HUMOUR</p></div>

    <div>

        <div></div>
        <div></div>      
      
    </div>

  </div>

  <div id="GIFTS">
    
    <div><p>AND A GIFT</p></div>

    <div>

        <div></div>
        <div></div>

    </div>

  </div>
  
  <footer>
    <div id= "LOGOUT"> <p>LOGOUT</p> </div>
    <div id= "ABOUT"> <p>ABOUT</p></div>
    <div id= "TERMS AND CONDITIONS"> <p>TERMS AND CONDITIONS</p></div>
  </footer>
  <!--Javscript Libraries-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
