<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Turtl_HOME</title>
  <meta name="description" content="not so awkward Turtl">

  <link rel="stylesheet" href="Stylesheets/stylesheet.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="LOGO">
    <p>Turtl</p>
  </div>

  <div id="home">

    <div id="profile"></div>

    <div id="HELP ME">
      <p href="#HELPMEFORM">HELP ME</p>

    </div>

    <div id="HELP FRIEND">
      <p href="#FRIENDS">HELP A FRIEND</p>

    </div>

    <div id="HELP STRANGER">
      <p href="#STRANGERS">HELP A STRANGER</p>

    </div>

    <div id="DON'T NEED HELP ANYMORE">
      <p>FEELING GREAT</p>

    </div>

  </div>

  <div id="HELPMEFORM">

    <div id="">
      <form>

          Optional Message:<br>
          <input type="text" name="message">
          <br>

        <input type="submit" value="Submit">

      </form>
    </div>

  </div>

  <div id="FRIENDS">

    <div id="">
      <a href="/help">
      <img src="public/Stylesheets/images/sven.jpg"  height="150" border="0">
      </a>
    </div>

  </div>

  <div id="STRANGERS">

    <div id="">
      
      <a href="/help">
      <img src="http://place.ppd.io/200/300"   height="150" border="0">
      </a>      

    </div>

  </div>

  <footer class="container-fluid">
    <div class="row">
    <span id= "LOGOUT" class=".col-xs-6 .col-sm-4"><p href="/basic">LOGOUT</p> </span>
    <span id= "ABOUT" class=".col-xs-6 .col-sm-4"> <p href="/basic#ABOUT">ABOUT</p></span>
    <span id= "TERMS AND CONDITIONS" class=".col-xs-6 .col-sm-4"> <p href="basic#TandCs">TERMS AND CONDITIONS</p></span>
    </div>
  </footer>
</body>
</html>