<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Turtl_HOME</title>
  <meta name="description" content="not so awkward Turtl">

  <link rel="stylesheet" href="Stylesheets/stylesheet.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div id="LOGO">
      <p href="/home" class=".col-xs-4 .col-sm-3">Turtl</p>
      </div>
      <span id= "LOGOUT" class=".col-xs-4 .col-sm-3"><p href="/basic">LOGOUT</p> </span>
      <span id= "ABOUT" class=".col-xs-4 .col-sm-3"> <p href="/basic">ABOUT</p></span>
      <span id= "TERMS AND CONDITIONS" class=".col-xs-4 .col-sm-3"> <p href="/basic">TERMS AND CONDITIONS</p></span>
    </div>
  </div>

  <div id="home" class="page-section" style="background-image:url(http://3.bp.blogspot.com/-ZRZtCx2lk1U/Tb4yP0WOzXI/AAAAAAAAA7w/EakDJnNAGVc/s1600/Tropical-Beach-wallpapers.jpg)">

    <div id="profile">
   
    <%if (wellbeing == 'ok') { %>
           <div id="state">I'm Feeling Fine</div>
<% }else{ %> <div id="state" class="alarming">I Need Help</div>

<%} %>

    </div>

    <div id="HELP ME" class="mainbtn">
      <p href="#" data-id="HELPMEFORM" class="scroll-link">HELP ME</p>

    </div>

    <div id="HELP FRIEND" class="mainbtn">
      <p href="#" data-id="FRIENDS" class="scroll-link">HELP A FRIEND</p>

    </div>

    <div id="HELP STRANGER" class="mainbtn">
      <p href="#" data-id="STRANGERS" class="scroll-link">HELP A STRANGER</p>

    </div>

    <div id="DON'T NEED HELP ANYMORE" class="mainbtn">
      <p>FEELING GREAT</p>

    </div>

  </div>

  <div id="HELPMEFORM" class="page-section" style="background-image:url(http://www.emoticonswallpapers.com/wallpaper/beaches/tropical-beach-wallpaper-024.jpg)">
  <div class="margined">
    <p href="#" data-id="home" class="scroll-link">BACK TO TOP</p>

    <div id="">
      <form>

          Optional Message:<br>
          <input type="text" name="message">
          <br>

        <input type="submit" value="Submit">

      </form>
    </div>

  </div>
  </div>

  <div id="FRIENDS" class="page-section" style="background-image:url(http://vdp.almudo.fastmail.us/panos/03VDP2015/02February%202015/DSC06387%20copychina1.jpg)">
  <div class="margined">
    <p href="#" data-id="home" class="scroll-link">BACK TO TOP</p>

    <div id="">
      <a href="/helping">
      <img src="/public/Stylesheets/images/sven.jpg"  height="300" border="0">
      </a>
    </div>

  </div>
  </div>

  <div id="STRANGERS" class="page-section" style="background-image:url(http://brandthunder.com/wp/wp-content/uploads/2015/06/night-beach-animated-wallpaper-1024x640.jpg)">
  <div class="margined">
    <p href="#" data-id="home" class="scroll-link">BACK TO TOP</p>

    <div id="">
      
      <a href="/helping">
      <img src="http://place.ppd.io/200/300"   height="300" border="0">
      </a>      

    </div>

  </div>
  </div>


  <!--Javscript Libraries-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  // Stolen from http://alijafarian.com/responsive-page-scrolling-with-jquery-and-bootstrap/
$(document).ready(function() {
  // navigation click actions 
  $('.scroll-link').on('click', function(event){
    event.preventDefault();
    var sectionID = $(this).attr("data-id");
    scrollToID('#' + sectionID, 750);
  });
  // scroll to top action
  $('.scroll-top').on('click', function(event) {
    event.preventDefault();
    $('html, body').animate({scrollTop:0}, 'slow');     
  });
  // mobile nav toggle
  $('#nav-toggle').on('click', function (event) {
    event.preventDefault();
    $('#main-nav').toggleClass("open");
  });
});
// scroll function
function scrollToID(id, speed){
  var offSet = 50;
  var targetOffset = $(id).offset().top - offSet;
  var mainNav = $('#main-nav');
  $('html,body').animate({scrollTop:targetOffset}, speed);
  if (mainNav.hasClass("open")) {
    mainNav.css("height", "1px").removeClass("in").addClass("collapse");
    mainNav.removeClass("open");
  }
}
if (typeof console === "undefined") {
    console = {
        log: function() { }
    };
}
</script>
</body>
</html>