<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Turtl_GIFTS</title>
  <meta name="description" content="not so awkward Turtl">
  <link rel="stylesheet" href="Stylesheets/stylesheet.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>


  <div class="container-fluid">
    <div class="row">
      <div id="LOGO">
      <p href="/home" class=".col-xs-4 .col-sm-3">Turtl</p>
      </div>
      <span id= "LOGOUT" class=".col-xs-4 .col-sm-3"><p href="/basic">LOGOUT</p> </span>
      <span id= "ABOUT" class=".col-xs-4 .col-sm-3"> <p href="/basic">ABOUT</p></span>
      <span id= "TERMS AND CONDITIONS" class=".col-xs-4 .col-sm-3"> <p href="/basic">TERMS AND CONDITIONS</p></span>
    </div>
  </div>


  <div id="GIFTS" class="container-fluid page-section" style="background-image:url(http://3.bp.blogspot.com/-ZRZtCx2lk1U/Tb4yP0WOzXI/AAAAAAAAA7w/EakDJnNAGVc/s1600/Tropical-Beach-wallpapers.jpg)">
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="http://thumbs4.ebaystatic.com/d/l225/m/mzqBWHc_1O8sJoQhp-V4gnQ.jpg" alt="Cuddly_Llama"><p href="#" data-id="PAYMENT" class="scroll-link">BUY</p>
        </div>

        <div class="item">
          <img src="http://i.dailymail.co.uk/i/pix/2015/04/03/08/273FFDDF00000578-3024207-image-a-44_1428046700273.jpg" alt="Chocolate"><p href="#" data-id="PAYMENT" class="scroll-link">BUY</p>
        </div>

        <div class="item">
          <img src="http://rlv.zcache.com/i_tried_to_change_the_world_but_no_source_code_tshirt-rb6004a997db942189b5d3153779e4089_va6lr_324.jpg" alt="SillyTShirt"><p href="#" data-id="PAYMENT" class="scroll-link">BUY</p>
        </div>

        <div class="item">
          <img src="http://randommization.com/wp-content/uploads/2013/07/venus-flytrap-potted-plant_2.jpg" alt="Flowers"><p href="#" data-id="PAYMENT" class="scroll-link">BUY</p>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>

  <div id="PAYMENT" class="container-fluid page-section margined" style="background-image:url(http://www.emoticonswallpapers.com/wallpaper/beaches/tropical-beach-wallpaper-024.jpg)">

    <div>

      <p>Payments</p>
  
      <form action="checkout" method="post">
          <div id="checkout"></div>
          <input type="submit" value="PAY"></input>
      </form>

      <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
      <script src="app.js"></script>

      <script>
          braintree.setup("<%= clientToken %>", "dropin", {
            container: "checkout"
          });

      </script>

      <div id="things">
        <p>Thanks for supporting</p>
      </div>

    </div>

  </div>



<!--Javscript Libraries-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  // Stolen from http://alijafarian.com/responsive-page-scrolling-with-jquery-and-bootstrap/
$(document).ready(function() {
  // navigation click actions 
  $('.scroll-link').on('click', function(event){
    event.preventDefault();
    var sectionID = $(this).attr("data-id");
    scrollToID('#' + sectionID, 750);
  });
  // scroll to top action
  $('.scroll-top').on('click', function(event) {
    event.preventDefault();
    $('html, body').animate({scrollTop:0}, 'slow');     
  });
  // mobile nav toggle
  $('#nav-toggle').on('click', function (event) {
    event.preventDefault();
    $('#main-nav').toggleClass("open");
  });
});
// scroll function
function scrollToID(id, speed){
  var offSet = 50;
  var targetOffset = $(id).offset().top - offSet;
  var mainNav = $('#main-nav');
  $('html,body').animate({scrollTop:targetOffset}, speed);
  if (mainNav.hasClass("open")) {
    mainNav.css("height", "1px").removeClass("in").addClass("collapse");
    mainNav.removeClass("open");
  }
}
if (typeof console === "undefined") {
    console = {
        log: function() { }
    };
}
</script>

</body>
</html>
