<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Turtl</title>
    <meta name="description" content="not so awkward Turtl">
    <link rel="stylesheet" href="Stylesheets/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <div class="container">
        <div id="LOGO">
            <p>Turtl</p>
        </div>
        <div id="LOGIN">
        </div>
        <div id="ABOUT">
            <p>ABOUT</p>
            <p>Turtl is a web application designed to help you get help.</p>
            <p> When people suffer with conditions like depression and anxiety it can often be difficult to reach out to the support networks you have - friends, family, and others.</p>
            <p>Therefore with Turtl you can log in with your Facebook account and simply request help when you need - when you're feeling or nervous, scared or empty.</p>
            <p>When you receive a request for help you then have the option to show your support through not just messages but also sharing funny things online, or in the form of gifts, to show that you really care.</p>
            <p>Are you a business interesting in offering your gifts for sale in our marketplace? Visit the market sign up here!</p>
            <p>Got care to spare? Show a stranger that you care - visit this page to help someone you don't know and make them feel loved!</p>
        </div>
        <div id="TERMS AND CONDITIONS">
        
            <p>Terms and Conditions</p>
            <p>Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.</p>
            <p>Det är ett välkänt faktum att läsare distraheras av läsbar text på en sida när man skall studera layouten. Poängen med Lorem Ipsum är att det ger ett normalt ordflöde, till skillnad från "Text här, Text här", och ger intryck av att vara läsbar text. Många publiseringprogram och webbutvecklare använder Lorem Ipsum som test-text, och en sökning efter "Lorem Ipsum" avslöjar många webbsidor under uteckling. Olika versioner har dykt upp under åren, ibland av olyckshändelse, ibland med flit (mer eller mindre humoristiska).</p>
        </div>
    </div>
</body>

</html>
