<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Turtl_MARKET</title>
  <meta name="description" content="not so awkward Turtl">

  <link rel="stylesheet" href="Stylesheets/stylesheet.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div >
      <a id="LOGO" href="/home" class=".col-xs-4 .col-sm-3">Turtl</a>
      </div>
      <span id= "LOGOUT" class=".col-xs-4 .col-sm-3"><a href="/basic">LOGOUT</a> </span>
      <span id= "ABOUT" class=".col-xs-4 .col-sm-3"> <a href="/basic">ABOUT</a></span>
      <span id= "TERMS AND CONDITIONS" class=".col-xs-4 .col-sm-3"> <a href="/basic">TERMS AND CONDITIONS</a></span>
    </div>
  </div>


  <div class="one-page-section">
  <div class="margined">
    <div id="market_signup">
      <p>Sign Up</p>
    </div>
  </div>
  </div>
<!--Javscript Libraries-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
